.county {
    stroke-width:0;
}
p{
    text-align: center;
    letter-spacing: 2px;
}
/*svg:nth-child(1){
    margin-left:100px;
}*/
button{
    margin-top:50px;
    z-index: 100;
    position: relative;
    
}
.chart-title{
    font-size: 25px;
    font-weight: bold;
}
.text ,text,p{
    font-family: 'Noto Sans TC', sans-serif;
    
}
.title{
    font-size:50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    
}
.second-title{
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    color: #949292;
    
}
.left{
    height: 400px;
    float: left;
    display: inline-block;
    
}
.block1{
    margin-bottom: 100px;
}
.block2 {
    margin-top: 400px;
    margin-bottom: 100px;
}
.block2 .left{
    width:100px;
}

.block2 .important{
    font-size:18px;

}
.block3{
    height:600px;
    margin:50px;
}
.block3 p{
    font-size: 25px;
    font-weight: bold; 
}
.right{
    height: 600px;
   /* display: inline-block;*/
    width:100px;
    float:right;

}
.middle{
    display: inline-block;
    width:300px;
    padding-top:100px;
    padding-left: 100px;
    height: 400px;
}
.context{
    height: 280px;
    
    padding-top:100px;
    text-align: center;
    line-height: 28px;
    letter-spacing: 1px;
}
.block1{
    height:400px;
}
.data{
   
    height: 220px;
    vertical-align: bottom;
}
#countyname{
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 25px;
    color: #515151;
}
#map{
    height: 400px;
    width: 700px;
   /* margin-left:100px;*/
    
}
#population ,#doctor ,#serve,#rank{
    letter-spacing: 2px;
    color: #9F9D9D;
}
#serve, #rank{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #777575;
}
.important{
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    color:#F75353;
}
table{
    width:500px;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
    float:left;
    margin-left: 10%;
    margin-top: 100px;
}
table:nth-child(2){
    float:right;
    margin-right: 10%;
}
td{
    border:1px solid #BAB8B8;
    color: #676666;
}
th{
    font-weight: bold;
    line-height: 60px;
    color: #0C8289;
    font-size: 25px;
    
}
.block3 .btn{
    position: relative;
    left:5%;
}
.block3 .left{
    height:600px;
}
.detail{
    position: relative;
    left:5%;
    color:#A4A4A4;
    width:300px;
    margin:5px;
    letter-spacing: 2px;
}
.bar{
    height:600px;
    width:70%;
    float:right;
    color:#12BFF4;
}
#googleMap {
    height:700px;
    width:40%;
    margin-left:8%;
  }
.block4{
    margin-top:100px;
    margin-bottom: 100px;
    color:#A1A1A1
}